{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }} (id:{{ artist.id }}) </h5>
			</div>
		</a>
		<a href="/artists/{{ artist.id }}/edit">
			<div class="item">
				<h5><b>Edit</b></h5> 
			</div>
		</a>
		<div>
			<button class="delete-button-artist" data-id="{{ artist.id }}" id="delete-button-artist{{ artist.id }}" >&cross;</button>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}